html {
	color: purple;
}

body {background: gray; margin: 0; padding: 0;} 
a {color: purple;}           
#container {width: 1200px; margin: 0; padding: 0; background: gray;}           
#header {width: 1200px; 	height: 150px; 	margin: 0; padding: 0; border: 0; background: blue;}           
#sidebar {width: 300px; height: 400px; 	margin: 0; padding: 0; border: 0; float: left; background: white;}           
#content {width: 900px; height: 400px; 	margin: 0; padding: 0; border: 0; float: left; background: gray;}           
#footer {width: 1200px; 	height: 70px; 	margin: 0; padding: 0; border: 0; float: left; background: black; clear:both;}          